<?xml version="1.0"?>
<config>
    <modules>
        <BSeller_SkyHub>
            <version>1.0.0</version>
        </BSeller_SkyHub>
    </modules>
    <global>
        <helpers>
            <bseller_skyhub>
                <class>BSeller_SkyHub_Helper</class>
            </bseller_skyhub>
        </helpers>
        <models>
            <bseller_skyhub>
                <class>BSeller_SkyHub_Model</class>
            </bseller_skyhub>
        </models>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <bseller_skyhub_update_attribute_after_save>
                        <class>bseller_skyhub/observer</class>
                        <method>updateProductAttribute</method>
                    </bseller_skyhub_update_attribute_after_save>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <bseller_skyhub>
                <use>standard</use>
                <args>
                    <module>BSeller_SkyHub</module>
                    <frontName>bseller_skyhub</frontName>
                </args>
            </bseller_skyhub>
        </routers>
        <translate>
            <modules>
                <bseller_skyhub>
                    <files>
                        <default>BSeller/SkyHub.csv</default>
                    </files>
                </bseller_skyhub>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <bseller_skyhub>
                    <files>
                        <default>BSeller/SkyHub.csv</default>
                    </files>
                </bseller_skyhub>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bseller_skyhub after="Mage_Adminhtml">BSeller_SkyHub_Adminhtml</bseller_skyhub>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <bseller_skyhub>
            <general>
                <enabled>1</enabled>
            </general>
            <log>
                <enabled>1</enabled>
                <filename>bseller_skyhub_request_log.log</filename>
            </log>
            <service>
                <base_uri>https://api.skyhub.com.br</base_uri>
                <email>valdir.calixto@e-smart.com.br</email>
                <api_key>wxVMVTkf_csx17LioTjY</api_key>
                <api_token>bZa6Ml0zgS</api_token>
            </service>
        </bseller_skyhub>
    </default>
    <phpunit>
        <suite>
            <modules>
                <BSeller_SkyHub/>
            </modules>
            <groups>
                <lib>Lib</lib>
            </groups>
        </suite>
    </phpunit>
</config>
