<?xml version="1.0"?>
<config>
    <modules>
        <BSeller_SkyHub>
            <version>1.0.0</version>
        </BSeller_SkyHub>
    </modules>
    <global>
        <blocks>
            <bseller_skyhub>
                <class>BSeller_SkyHub_Block</class>
            </bseller_skyhub>
        </blocks>
        <helpers>
            <bseller_skyhub>
                <class>BSeller_SkyHub_Helper</class>
            </bseller_skyhub>
        </helpers>
        <models>
            <bseller_skyhub>
                <class>BSeller_SkyHub_Model</class>
                <resourceModel>bseller_skyhub_resource</resourceModel>
            </bseller_skyhub>
            <bseller_skyhub_resource>
                <class>BSeller_SkyHub_Model_Resource</class>
                <entities>
                    <product_attributes_mapping>
                        <table>bseller_skyhub_product_attributes_mapping</table>
                    </product_attributes_mapping>
                    <queue>
                        <table>bseller_skyhub_queue</table>
                    </queue>
                    <queue_result>
                        <table>bseller_skyhub_queue_result</table>
                    </queue_result>
                </entities>
            </bseller_skyhub_resource>
        </models>
        <resources>
            <bseller_skyhub_setup>
                <setup>
                    <module>BSeller_SkyHub</module>
                    <class>BSeller_SkyHub_Model_Resource_Setup</class>
                </setup>
            </bseller_skyhub_setup>
        </resources>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <bseller_skyhub_integrate_catalog_product_attribute>
                        <class>bseller_skyhub/observer_catalog_product_attribute</class>
                        <method>integrateProductAttribute</method>
                    </bseller_skyhub_integrate_catalog_product_attribute>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_product_save_after>
                <observers>
                    <bseller_skyhub_integrate_catalog_product>
                        <class>bseller_skyhub/observer_catalog_product</class>
                        <method>integrateProduct</method>
                    </bseller_skyhub_integrate_catalog_product>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <bseller_skyhub>
                <use>standard</use>
                <args>
                    <module>BSeller_SkyHub</module>
                    <frontName>bseller_skyhub</frontName>
                </args>
            </bseller_skyhub>
        </routers>
        <translate>
            <modules>
                <bseller_skyhub>
                    <files>
                        <default>BSeller/SkyHub.csv</default>
                    </files>
                </bseller_skyhub>
            </modules>
        </translate>
        <layout>
            <updates>
                <bseller_skyhub>
                    <file>bseller/skyhub.xml</file>
                </bseller_skyhub>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <bseller_skyhub>
                    <files>
                        <default>BSeller/SkyHub.csv</default>
                    </files>
                </bseller_skyhub>
            </modules>
        </translate>
        <layout>
            <updates>
                <bseller_skyhub>
                    <file>bseller/skyhub.xml</file>
                </bseller_skyhub>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <bseller_skyhub_add_integration_button_to_product_edit_page>
                        <class>bseller_skyhub/observer_catalog_product</class>
                        <method>addIntegrateButtonToProductEditPage</method>
                    </bseller_skyhub_add_integration_button_to_product_edit_page>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bseller_skyhub after="Mage_Adminhtml">BSeller_SkyHub_Adminhtml</bseller_skyhub>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <bseller_skyhub>
            <general>
                <enabled>1</enabled>
            </general>
            <log>
                <enabled>1</enabled>
                <filename>bseller_skyhub_request_log.log</filename>
            </log>
            <service>
                <base_uri>https://api.skyhub.com.br</base_uri>
                <email>valdir.calixto@e-smart.com.br</email>
                <api_key>wxVMVTkf_csx17LioTjY</api_key>
                <api_token>bZa6Ml0zgS</api_token>
            </service>
            <catalog_product_integration>
                <method>queue</method>
            </catalog_product_integration>
        </bseller_skyhub>
    </default>
    <phpunit>
        <suite>
            <modules>
                <BSeller_SkyHub/>
            </modules>
            <groups>
                <lib>Lib</lib>
            </groups>
        </suite>
    </phpunit>
</config>
