<?xml version="1.0"?>
<config>
    <sections>
        <bseller_skyhub translate="label" module="bseller_skyhub">
            <label>SkyHub Integration</label>
            <tab>bseller</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <sort_order>900</sort_order>
            <frontend_type>text</frontend_type>
            <groups>
                <general translate="label" module="bseller_skyhub">
                    <label>General Configuration</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </general>
                <log translate="label" module="bseller_skyhub">
                    <label>Log Configuration</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <filename>
                            <label>Log Filename</label>
                            <sort_order>20</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </filename>
                    </fields>
                </log>
                <service translate="label" module="bseller_skyhub">
                    <label>API Service Configuration</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <base_uri>
                            <label>Base URI</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </base_uri>
                        <email>
                            <label>Email</label>
                            <sort_order>20</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
                        <api_key>
                            <label>API Key</label>
                            <sort_order>30</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <api_token>
                            <label>API Token</label>
                            <sort_order>40</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_token>
                    </fields>
                </service>
                <cron translate="label" module="bseller_skyhub">
                    <label>Cron Configuration</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <!-- CATALOG PRODUCT ATTRIBUTES -->
                        <catalog_product_attributes_queue_enabled>
                            <label>Product Attributes Queue Enabled</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </catalog_product_attributes_queue_enabled>
                        <catalog_product_attributes_queue_create>
                            <label>Product Attributes Queue Generate</label>
                            <sort_order>20</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <catalog_product_attributes_queue_enabled>1</catalog_product_attributes_queue_enabled>
                            </depends>
                        </catalog_product_attributes_queue_create>
                        <catalog_product_attributes_queue_execute>
                            <label>Product Attributes Queue Execute</label>
                            <sort_order>30</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <catalog_product_attributes_queue_enabled>1</catalog_product_attributes_queue_enabled>
                            </depends>
                        </catalog_product_attributes_queue_execute>
                        <!-- CATALOG PRODUCTS -->
                        <catalog_products_queue_enabled>
                            <label>Products Queue Enabled</label>
                            <sort_order>40</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </catalog_products_queue_enabled>
                        <catalog_products_queue_create>
                            <label>Products Queue Create</label>
                            <sort_order>50</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <catalog_products_queue_enabled>1</catalog_products_queue_enabled>
                            </depends>
                        </catalog_products_queue_create>
                        <catalog_products_queue_execute>
                            <label>Products Queue Execute</label>
                            <sort_order>60</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <catalog_products_queue_enabled>1</catalog_products_queue_enabled>
                            </depends>
                        </catalog_products_queue_execute>
                        <!-- CATALOG CATEGORIES -->
                        <catalog_categories_queue_enabled>
                            <label>Categories Queue Enabled</label>
                            <sort_order>70</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </catalog_categories_queue_enabled>
                        <catalog_categories_queue_create>
                            <label>Categories Queue Create</label>
                            <sort_order>80</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <catalog_categories_queue_enabled>1</catalog_categories_queue_enabled>
                            </depends>
                        </catalog_categories_queue_create>
                        <catalog_categories_queue_execute>
                            <label>Categories Queue Execute</label>
                            <sort_order>90</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <catalog_categories_queue_enabled>1</catalog_categories_queue_enabled>
                            </depends>
                        </catalog_categories_queue_execute>
                    </fields>
                </cron>
                <!--
                <catalog_product_integration translate="label" module="bseller_skyhub">
                    <label>Product Integration Configuration</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <method>
                            <label>Integration Method</label>
                            <sort_order>40</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>bseller_skyhub/system_config_source_integration_method</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </method>
                    </fields>
                </catalog_product_integration>
                -->
            </groups>
        </bseller_skyhub>
    </sections>
</config>
