tr.not-editable td {
    color: #aaa !important;
}

tr.linked td {
    color: green;
}

tr.unlinked td {
    color: red;
}

tr.not-editable td.magento-code {
    background-image: none;
}

td.magento-code {
    background-image: url('../images/magento-logo.png');
    background-repeat: no-repeat;
    background-size: 23px 23px;
    padding-left: 25px;
}

td.skyhub-code {

}
